// Madison Rose theme

// Disable hyphenation
td {
  -webkit-hyphens: manual;
  hyphens: manual;
}

// Custom larger edge gutters
td.large-7.first, th.large-7.first,
td.large-12.first, th.large-12.first,
td.large-6.first, th.large-6.first {
  padding-left: 50px;
}
td.large-5.last, th.large-5.last,
td.large-12.last, th.large-12.last,
td.large-6.last, th.large-6.last {
  padding-right: 50px;
}

// Tophat is only area that uses tertiary (view in browser)
.tertiary {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  line-height: 150%;
  letter-spacing: 0.08em;
  color: $mr-coal;
}

// Image captions
p.caption {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 167%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: $mr-teak;
  margin-bottom: 0;
  Margin-bottom: 0;
}

// Typography tweaks
h1,
h2,
h3 {
  font-weight: normal;
}
h4 {
  font-family: Verdana, Arial, sans-serif;
  line-height: 143%;
  letter-spacing: 0.26em;
  text-transform: uppercase;
  font-weight: normal;
  color: $mr-teak;
}

// Editable CTA buttons
p.cta {
  a {
    display: block;
    max-width: 350px;
    padding: 10px;
    border: 2px solid $mr-rose;
    text-decoration: none !important;
    text-align: center;
    font-family: Verdana;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.26em;
    text-transform: uppercase;
  }
}

// View in browser hat
.tophat  {
  table.container {
    background: #fff;
  }
  p {
    margin: 0!important;
    br {
      display: none;
    }
  }
}

body#madrose {
  .tophat {
    table.container {
      background: $mr-cream;
    }
  }
  img.logo {
    width: 70px;
    max-width: 70px;
    height: auto;
  }

  // Dark background content
  .container.dark {
    background: $mr-coal;
  }
  .wrapper.dark {
    .container {
      background: $mr-coal;
      color: $mr-cream;
      p.caption,
      h4 {
        border: none;
        color: $mr-tan;
      }
      p {
        color: $mr-cream;
      }
      h1 {
        color: $mr-cream;
        font-size: 26px;
        line-height: 30px;
        margin: 20px 0 30px 0;
        Margin: 20px 0 30px 0;
      }
    }

    p.cta {
      text-align: center;
      a {
        background: $mr-rose;
        // Using border instead of padding to fix Outlook issues
        padding: 0;
        border: 10px solid $mr-rose;
        margin: 40px auto 30px auto;
        Margin: 40px auto 30px auto;
        color: $mr-cream;
      }
    }
  }

  .footer {
    .container {
      background: $mr-deep-pine;
    }
  }

  .shoes {
    .container {
      background: $mr-cream;
    }
  }
}

// Header
.header {
  p {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 167%;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: $mr-rose;
  }
}

// Custom UL (moved to default.html)
// ul {
//   padding-left: 1.5em;
//   list-style-image: url('https://s3.amazonaws.com/firebelly/emails/mr/list-emdash.png');
//   li {
//     margin-bottom: 10px;
//   }
//   margin-bottom: 30px;
//   Margin-bottom: 30px;
// }


// Logos
.mr-logo {
  display: block;
  width: 175px;
  max-width: 100%;
  height: auto;
}

// Footer styles
.footer {
  img {
    width: 690px;
    max-width: 100%;
    height: auto;
  }
  .hide-for-desktop img {
    width: 100%;
  }
  .container {
    background: $mr-hemlock;
  }
  h4 {
    color: $mr-lichen;
    border: none;
    font-size: 12px;
  }
  p {
    font-size: 16px;
    margin-bottom: 12px;
  }
  color: $mr-cream;
  a {
    color: $mr-cream;
    &.no-underline {
      text-decoration: none;
    }
  }
}

// Copyright, update preferences, etc
.shoes {
  .container {
    background: #fff;
  }
  p {
    font-size: 10px;
    line-height: 150%;
  }
}

// Mobile styles
@media only screen and (max-width: #{$global-breakpoint}) {
  // Line break "view in browser" for mobile
  .tophat  {
    p {
      br {
        display: block!important;
      }
    }
  }

  // Max width images on mobile
  .user-content img {
    max-width: 100%!important;
    height: auto!important;
  }

  // Mobile type
  h1 {
    font-size: 32px!important;
    line-height: 115%!important;
  }
}

// Fix for .hide-for-large (https://github.com/foundation/foundation-emails/issues/999#issuecomment-623077592)
.hide-for-desktop {
  display: none;
  mso-hide: all;
  overflow: hidden;
  max-height: 0;
  font-size: 0;
  width: 0;
  line-height: 0;
}
@media only screen and (max-width: #{$global-breakpoint}) {
  .hide-for-desktop {
    display: block !important;
    width: auto !important;
    overflow: visible !important;
    max-height: none !important;
    font-size: inherit !important;
    line-height: inherit !important;
  }
}
